---
- name: Check if the parameter PermitEmptyPasswords is configured
  ansible.builtin.find:
    paths:
      - /etc/ssh/sshd_config
      - /etc/ssh/sshd_config.d
    contains: (?i)^\s*{{ "PermitEmptyPasswords" | regex_escape }}\s+
  register: sshd_config_has_parameter

- name: Determine if PermitEmtpyPasswords is configured correctly
  ansible.builtin.find:
    paths:
      - /etc/ssh/sshd_config
      - /etc/ssh/sshd_config.d
    contains: (?i)^\s*{{ "PermitEmptyPasswords"| regex_escape }}\s+no$
  register: sshd_config_correctly

- name: Disable SSH Access via Empty Passwords
  when: sshd_config_correctly.matched == 0 or sshd_config_has_parameter.matched != 1
  block:
    - name: Dedup values from /etc/ssh/sshd_config
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        create: false
        regexp: (?i)(?i)^\s*{{ "PermitEmptyPasswords" | regex_escape }}\s+
        state: absent

    - name: Check if /etc/ssh/sshd_config.d exists
      ansible.builtin.stat:
        path: /etc/ssh/sshd_config.d
      register: etc_ssh_sshd_config_d_exists

    - name: Check if the parameter PermitEmptyPasswords is present in /etc/ssh/sshd_config.d
      ansible.builtin.find:
        paths: /etc/ssh/sshd_config.d
        recurse: 'yes'
        follow: 'no'
        contains: (?i)^\s*{{ "PermitEmptyPasswords"| regex_escape }}\s+
      register: etc_ssh_sshd_config_d_has_parameter
      when: etc_ssh_sshd_config_d_exists.stat.isdir is defined and etc_ssh_sshd_config_d_exists.stat.isdir

    - name: Remove parameter from files in /etc/ssh/sshd_config.d
      ansible.builtin.lineinfile:
        path: '{{ item.path }}'
        create: false
        regexp: (?i)(?i)^\s*{{ "PermitEmptyPasswords"| regex_escape }}\s+
        state: absent
      loop: "{{ etc_ssh_sshd_config_d_has_parameter.files }}"
      when: etc_ssh_sshd_config_d_has_parameter.matched

    - name: Insert Correct line to /etc/ssh/sshd_config.d/01-complianceascode-reinforce-os-defaults.conf
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config.d/01-complianceascode-reinforce-os-defaults.conf
        create: true
        regexp: (?i)(?i)^\s*{{ "PermitEmptyPasswords" | regex_escape }}\s+
        line: PermitEmptyPasswords no
        state: present
        insertbefore: BOF

    - name: Set file mode for /etc/ssh/sshd_config.d/01-complianceascode-reinforce-os-defaults.conf
      ansible.builtin.file:
        path: /etc/ssh/sshd_config.d/01-complianceascode-reinforce-os-defaults.conf
        mode: '0600'
        state: touch
        modification_time: preserve
        access_time: preserve
