---
- name: Check if system relies on authselect
  ansible.builtin.stat:
    path: /usr/bin/authselect
  register: result_authselect_present

- name: Remediate using Authselect
  when: result_authselect_present.stat.exists|bool
  block:
    - name: Check integrity of authselect current profile
      ansible.builtin.command:
        cmd: authselect check
      register: result_authselect_check
      failed_when: false

    - name: Assert that authselect integrity is in tact
      ansible.builtin.assert:
        that:
          - result_authselect_check.rc == 0
        fail_msg:
          - authselect integrity check failed. Not able to remediate.
          - This could not be applied because authselect profile was not selected or selected profile not in tact.
          - It is not recommended to manually edit the PAM files when authselect tool is available.
          - In cases where the default authselect profile does not cover a specific demand, a custom authselect profile is recommended
        success_msg:
          - authselect integrity check passed

    - name: Get authselect current features
      ansible.builtin.shell: 
        cmd: authselect current | tail -n+3 | awk '{ print $2}'
      register: result_authselect_features
      changed_when: false

    - name: Ensure without-nullok feature is enabled using authselect tool
      ansible.builtin.command:
        cmd: authselect enable-feature without-nullok
      register: result_authselect_enabled_feature_cmd
      when:
        - result_authselect_features.stdout is not search("without-nullok")

    - name: Ensure authselect changes are applied
      ansible.builtin.command:
        cmd: authselect apply-changes -b
      when: 
       - not "{{ result_authselect_enabled_feature_cmd.skipped|bool }}"
