#SPDX-License-Identifier: MIT-0
---
- name: Install Scap Scanner and Security guide
  ansible.builtin.dnf:
    name:
      - openscap-scanner
      - scap-security-guide
    state: present

- name: Include rpm hash validity check
  ansible.builtin.include_tasks: "high/{{ check_name }}"
  loop:
    - rpm_hash_validity.yml
    - configure_crypto_policy.yml
    - display_login_attempts.yml
    - krb5_crypto_policy_link.yml
    - no_empty_passwords.yml
  loop_control:
    loop_var: "check_name"
... 
