#SPDX-License-Identifier: MIT-0
---
- name: Install Scanner and Security guide
  ansible.builtin.dnf:
    name:
      - openscap-scanner
      - scap-security-guide
    state: present

- name: Include rpm hash validity check
  ansible.builtin.include_tasks: rpm_hash_validity.yml

- 
